<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <f:view>
        <ui:insert name="metadata"/>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link href="./css/default.css" rel="stylesheet" type="text/css" />
            <link href="./css/layout.css" rel="stylesheet" type="text/css" />
            <ui:insert name="styles"/>
            <title>IF6AE - Segunda Avaliação 2014/1</title>
        </h:head>

        <h:body>
            <h:form id="form">
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="idioma" value="Idioma"/>
                    <h:inputText id="cpf" value="#{inscricaoBean.numero}" label="Numero" required="true"/>
                </h:panelGroup>
            </h:form>
            <h:dataTable id="listaInscritos" value="#{inscricaoBean.listaInscricao}" var="item" border="1" >
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Num.Inscrição"/>
                    </f:facet>
                    <h:outputText value="#{item.numero}" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="CPF"/>
                    </f:facet>
                    <h:outputText value="#{item.cpf}" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nome"/>
                    </f:facet>
                    <h:outputText value="#{item.nome}" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Cidade"/>
                    </f:facet>
                    <h:outputText value="#{item.cidade}" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Estado"/>
                    </f:facet>
                    <h:outputText value="#{item.estado}" />
                </h:column>
            </h:dataTable>
        </h:body>
        
    </f:view>
